service cloud.firestore {
  match /databases/{database}/documents {
    match /mailboxes/{m} {
      allow read, update: if resource.data.user == request.auth.token.email;
    }
    match /mailboxes/{m} {
      allow create: if request.resource.data.user == request.auth.token.email;
    }
    // TODO hihi everyone has read (not list!) access to all mails :shrug:
    match /mailboxes/{m}/emails/{e} {
      allow get: if true;
    }
    match /balance/{u} {
      allow read: if u == request.auth.token.email;
    }
    match /balance/{u}/transactions/{t} {
      allow read: if u == request.auth.token.email;
    }
  }
}
