service cloud.firestore {
  match /databases/{database}/documents {
    match /mailboxes/{mailbox=*} {
      allow read, update: if resource.data.user == request.auth.token.email;
    }
  }
}
